
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Orbitron:wght@400;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: #0d1117; 
}


.watch-face {
  font-family: "Orbitron", sans-serif; 
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00cc00;
  transition: all 0.3s ease;
}

.watch-face:hover {
  text-shadow: 0 0 15px #00ff00, 0 0 30px #00cc00, 0 0 45px #009900;
}

.card {
  background-color: #161b22;
  border: 1px solid #30363d;
}
